In [ ]:
import pandas as pd

In [ ]:
# Load the data
Titanic = pd.read_csv("/content/train_and_test2.csv")

In [ ]:
Titanic

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1305,1306,39.0,108.9000,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,0
1306,1307,38.5,7.2500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1307,1308,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1308,1309,28.0,22.3583,0,1,0,0,0,0,0,...,0,0,0,3,0,0,0.0,0,0,0

In [ ]:
Titanic.columns

Index(['Passengerid', 'Age', 'Fare', 'Sex', 'sibsp', 'zero', 'zero.1',
       'zero.2', 'zero.3', 'zero.4', 'zero.5', 'zero.6', 'Parch', 'zero.7',
       'zero.8', 'zero.9', 'zero.10', 'zero.11', 'zero.12', 'zero.13',
       'zero.14', 'Pclass', 'zero.15', 'zero.16', 'Embarked', 'zero.17',
       'zero.18', '2urvived'],
      dtype='object')

In [ ]:
Titanic.isna().sum()

Passengerid    0
Age            0
Fare           0
Sex            0
sibsp          0
zero           0
zero.1         0
zero.2         0
zero.3         0
zero.4         0
zero.5         0
zero.6         0
Parch          0
zero.7         0
zero.8         0
zero.9         0
zero.10        0
zero.11        0
zero.12        0
zero.13        0
zero.14        0
Pclass         0
zero.15        0
zero.16        0
Embarked       2
zero.17        0
zero.18        0
2urvived       0
dtype: int64

In [ ]:
# Impute missing values with the mean
data = Titanic.fillna(Titanic.mean())

In [ ]:
# Split the data
X = Titanic.drop('2urvived', axis=1)
y = Titanic['2urvived']

In [ ]:
y

0       0
1       1
2       1
3       1
4       0
       ..
1304    0
1305    0
1306    0
1307    0
1308    0
Name: 2urvived, Length: 1309, dtype: int64

In [ ]:
import numpy as np
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
# Build the model
model = Sequential()
model.add(Dense(64, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=4, validation_split=0.2)

Epoch 1/10
262/262 [==============================] - 2s 3ms/step - loss: nan - accuracy: 0.6390 - val_loss: nan - val_accuracy: 1.0000
Epoch 2/10
262/262 [==============================] - 1s 3ms/step - loss: nan - accuracy: 0.6734 - val_loss: nan - val_accuracy: 1.0000
Epoch 3/10
262/262 [==============================] - 1s 3ms/step - loss: nan - accuracy: 0.6734 - val_loss: nan - val_accuracy: 1.0000
Epoch 4/10
262/262 [==============================] - 1s 3ms/step - loss: nan - accuracy: 0.6734 - val_loss: nan - val_accuracy: 1.0000
Epoch 5/10
262/262 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.6734 - val_loss: nan - val_accuracy: 1.0000
Epoch 6/10
262/262 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.6734 - val_loss: nan - val_accuracy: 1.0000
Epoch 7/10
262/262 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.6734 - val_loss: nan - val_accuracy: 1.0000
Epoch 8/10
262/262 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.6734 - val_loss: nan - val_accuracy: 1.0000
Epoch 9/10
262/262 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.6734 - val_loss: nan - val_accuracy: 1.0000
Epoch 10/10
262/262 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.6734 - val_loss: nan - val_accuracy: 1.0000

In [ ]:
# Predict on the test set
y_pred = model.predict(X_train)

41/41 [==============================] - 0s 1ms/step

In [ ]:
y_pred

array([[nan],
       [nan],
       [nan],
       ...,
       [nan],
       [nan],
       [nan]], dtype=float32)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
print('accuracy is',accuracy_score(y_pred,X))

ValueError: ignored