In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [ ]:
# Load the dataset
data = pd.read_csv('/content/boston.csv')

In [ ]:
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [ ]:
data.shape

(506, 14)

In [ ]:
data.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [ ]:
# Split the dataset into features and target
X = data.drop('MEDV', axis=1)
y = data['MEDV']

In [ ]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Scale the features using StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
# Define the model
model = Sequential()
model.add(Dense(128, activation='relu', input_shape=(X_train_scaled.shape[1],)))
model.add(Dense(64, activation='relu'))
model.add(Dense(1, activation='linear'))

In [ ]:
# Compile the model
model.compile(loss='mean_squared_error', optimizer='adam')

In [ ]:
# Train the model
model.fit(X_train_scaled, y_train, epochs=10, batch_size=13, verbose=1)

Epoch 1/10
32/32 [==============================] - 1s 3ms/step - loss: 521.3146
Epoch 2/10
32/32 [==============================] - 0s 2ms/step - loss: 274.4459
Epoch 3/10
32/32 [==============================] - 0s 2ms/step - loss: 73.1242
Epoch 4/10
32/32 [==============================] - 0s 2ms/step - loss: 30.3243
Epoch 5/10
32/32 [==============================] - 0s 2ms/step - loss: 22.6852
Epoch 6/10
32/32 [==============================] - 0s 2ms/step - loss: 20.1998
Epoch 7/10
32/32 [==============================] - 0s 2ms/step - loss: 18.6512
Epoch 8/10
32/32 [==============================] - 0s 2ms/step - loss: 16.8831
Epoch 9/10
32/32 [==============================] - 0s 2ms/step - loss: 15.9707
Epoch 10/10
32/32 [==============================] - 0s 2ms/step - loss: 14.9956

In [ ]:
# Predict on the test set
y_pred = model.predict(X_test_scaled)

4/4 [==============================] - 0s 4ms/step

In [ ]:
# Calculate the MAE and MSE
mae = mean_absolute_error(y_test, y_pred)
mae

2.5275047788433

In [ ]:
mse = mean_squared_error(y_test, y_pred)
mse

15.942382555029948